<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for("user_routes.hello_world") }}">SFU Dining Hall Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for("user_routes.hello_world") }}">This
                        week</a>
                </li>

                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Dish Management
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <li>
                                <a class="dropdown-item" href="{{ url_for("dish_routes.add_dish") }}">
                                    <i class="bi bi-plus-square"></i> Add Dish
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for("dish_routes.manage_dish") }}">
                                    <i class="bi bi-journal-text"></i> Manage Dish
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Menu Management
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <li>
                                <a class="dropdown-item" href="{{ url_for("menu_routes.manage_sections") }}">
                                    <i class="bi bi-list-task"></i> Section Management
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for("menu_routes.build_menu_select") }}">
                                    <i class="bi bi-plus-square"></i> Build Menu
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for("menu_routes.manage_menu_select") }}">
                                    <i class="bi bi-broadcast"></i> Manage Menu
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for("logistics_routes.set_opening_time") }}">
                                    <i class="bi bi-door-open"></i> Set Opening Time
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for("logistics_routes.set_message_of_the_day") }}">
                                    <i class="bi bi-chat-left-text-fill"></i> Set Message Of The Day
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link active">Welcome, {{ current_user.user_id }}</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for("login_routes.logout") }}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for("login_routes.login") }}">Admin Login</a>
                    </li>

                    {% if is_register_open %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for("login_routes.register") }}">Admin Register</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<br>
<footer>
    <p class="text-center text-muted small">SFU Dining Menu {{ version_string }} | Google Chrome and Microsoft Edge are
        recommended. </p>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/masonry.js"
        integrity="sha256-30rkyCPxRyPN7eTXKy0OdOmp65LNbITZvPvJNuZq66w=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</body>
</html>