{% extends "layout.html" %}
{% from "flash_alert.html" import flash_alert %}

{% block title %}This Week - SFU Dining Hall{% endblock %}

{% block content %}
    <br>

    <div class="container">
        {{ flash_alert() }}

        {% if True in is_empty %}
            <h2>Menu For This Week</h2>
        {% else %}
            <h2>No menu available, check back later</h2>
        {% endif %}
        <h4 class="text-muted">
            {{ this_week.monday().strftime("%A %b %-d, %Y") }}
            &ndash; {{ this_week.sunday().strftime("%A %b %-d, %Y") }}
        </h4>

        {% for day in menu %}
            {% if day["is_published"] %}
                <div class="card" data-aos="fade-up">
                    <div class="card-header" data-bs-toggle="collapse" role="button" aria-expanded="true"
                         aria-controls="collapse{{ loop.index }}" data-bs-target="#collapse{{ loop.index }}">
                        <i class="bi bi-chevron-down"></i>
                        <span class="text-primary">{{ day["date"].strftime("%A") }}</span>
                        <span class="text-muted d-inline float-end">
                            {{ day["date"].strftime("%b %-d") }}
                            {% if loop.first %}
                                (Today)
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-body collapse show" id="collapse{{ loop.index }}">
                        {% for meal in day["menu"] %}
                            {% if meal["menu"] %}
                                <h5 class="card-title">{{ meal["meal_str"] }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ meal["open_time"].strftime("%I:%M %p") }}
                                    &ndash; {{ meal["close_time"].strftime("%I:%M %p") }}
                                </h6>

                                <div class="row" data-masonry='{"percentPosition": true }'>
                                    {% for section in meal["menu"] %}
                                        <div class="col-sm-12 col-lg-6">
                                            <ul class="list-group">
                                                <li class="list-group-item list-group-item-primary">
                                                    {{ section.section_name }}
                                                </li>
                                                {% for dish in section["dishes"] %}
                                                    <li class="list-group-item">
                                                        <div>
                                                            {{ dish.dish_name }}
                                                            {% if dish.is_vegan %}
                                                                <span class="badge rounded-pill bg-success">
                                                                    Vegan
                                                                </span>
                                                            {% endif %}

                                                            {% if dish.is_vegetarian %}
                                                                <span class="badge rounded-pill bg-success">
                                                                    Vegetarian
                                                                </span>
                                                            {% endif %}

                                                            {% if dish.is_halal %}
                                                                <span class="badge rounded-pill bg-primary">
                                                                    Halal
                                                                </span>
                                                            {% endif %}

                                                            {% if dish.is_gluten_free %}
                                                                <span class="badge rounded-pill bg-info">
                                                                    Gluten Free
                                                                </span>
                                                            {% endif %}
                                                        </div>
                                                        {% if dish.annotation %}
                                                            <small class="text-muted">{{ dish.annotation }}</small>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                            <br>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}