{% extends "layout.html" %}

{% block title %}Edit Menu - SFU Dining Hall{% endblock %}

{% block content %}
    <br>

    <div class="container">
        <h1>Edit Menu For {{ date }}'s {{ meal }}</h1>

        <hr>

        <div class="row">
            <div class="col-md-8">
                {% for section in sections %}
                    <span class="fs-2">{{ meal }} {{ section.section_name }}</span>
                    <span class="float-end" data-section-id="{{ section.section_id }}">
                        <button type="button"
                                class="btn btn-primary"
                                onclick="moveSelectedHere(this.parentElement.getAttribute('data-section-id'))">
                            <i class="bi bi-arrow-down"></i> Move Here
                        </button>
                    </span>
                    <br>

                    <div id="sectionDishesList" class="list-group" data-section-id="{{ section.section_id }}">
                        {% for dish in menu[section] %}
                            <label class="list-group-item list-group-item-action" data-dish-id="{{ dish.dish_id }}">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                <span>{{ dish.dish_name }}</span>

                                {% if dish.is_vegan %}
                                    <span class="badge bg-success">Vegan</span>
                                {% endif %}

                                {% if dish.is_vegetarian %}
                                    <span class="badge bg-success">Vegetarian</span>
                                {% endif %}

                                {% if dish.is_halal %}
                                    <span class="badge bg-primary">Halal</span>
                                {% endif %}

                                {% if dish.is_gluten_free %}
                                    <span class="badge bg-info">Gluten Free</span>
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}

                <form action="?" method="post" id="menu-form">
                    {% for section in sections %}
                        <input type="hidden" name="{{ section.section_id }}"
                               data-section-id-form="{{ section.section_id }}">
                    {% endfor %}

                    <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Save</button>
                </form>
            </div>
            <div class="col-md-4">
                <button type="button"
                        class="btn btn-danger"
                        onclick="moveSelectedAway()">
                    <i class="bi bi-arrow-right"></i> Move Away
                </button>
                <div id="dishesList" class="list-group mt-3">
                    {% for dish in list_of_dishes %}
                        <label class="list-group-item list-group-item-action" data-dish-id="{{ dish.dish_id }}">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            <span>{{ dish.dish_name }}</span>

                            {% if dish.is_vegan %}
                                <span class="badge bg-success">Vegan</span>
                            {% endif %}

                            {% if dish.is_vegetarian %}
                                <span class="badge bg-success">Vegetarian</span>
                            {% endif %}

                            {% if dish.is_halal %}
                                <span class="badge bg-primary">Halal</span>
                            {% endif %}

                            {% if dish.is_gluten_free %}
                                <span class="badge bg-info">Gluten Free</span>
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"
            integrity="sha256-DqWm+/v1Q0tgaHhTPLema89wDw8Ir+kIM10JePtjrZQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        const sourceDishesList = document.getElementById('dishesList');
        const destDishesLists = document.querySelectorAll('#sectionDishesList');

        Sortable.create(sourceDishesList, {
            group: {
                name: "sourceDishes",
                put: true
            },
            animation: 150,
            easing: "cubic-bezier(1, 0, 0, 1)",
            filter: ".ignore-elements",
            multiDrag: true,
            selectedClass: "list-group-item-primary", // Class name for selected item
        });

        const sortableList = Array.from(destDishesLists).map((item) => {
            return Sortable.create(item, {
                group: {
                    name: "destDishes",
                    put: ["sourceDishes", "destDishes"],
                },
                animation: 150,
                easing: "cubic-bezier(1, 0, 0, 1)",
                filter: ".ignore-elements",
                multiDrag: true,
                dataIdAttr: 'data-dish-id',
                selectedClass: "list-group-item-primary", // Class name for selected item
            })
        });

        function moveSelectedHere(sectionID) {
            const sourceDishes = document.querySelectorAll("label");
            for (const dish of sourceDishes) {
                if (dish.childNodes[1].checked) {
                    document.querySelector(`#sectionDishesList[data-section-id='${sectionID}']`).appendChild(dish);
                    dish.childNodes[1].checked = false;
                }
            }
        }

        function moveSelectedAway() {
            const sourceDishes = document.querySelectorAll("label");
            for (const dish of sourceDishes) {
                if (dish.childNodes[1].checked) {
                    document.getElementById("dishesList").appendChild(dish);
                    dish.childNodes[1].checked = false;
                }
            }
        }

        $("#menu-form").submit((eventObj) => {
            const section_uls = document.querySelectorAll("#sectionDishesList");

            // a list of sections
            const section_ids = Array.from(section_uls).map(element => element.getAttribute("data-section-id"));

            for (let i = 0; i < sortableList.length; i++) {
                const sortable_id = sortableList[i].el.getAttribute("data-section-id");
                if (sortable_id === section_ids[i]) {
                    // get the HTML tags to append data to
                    const tag_to_append = document.querySelector('[data-section-id-form="' + section_ids[i] + '"]');

                    // get and append the data
                    tag_to_append.value = JSON.stringify(sortableList[i].toArray());
                }
            }

            return true;
        });
    </script>

{% endblock %}