{% extends "layout.html" %}
{% from "section_dishes_list.html" import section_dishes_list %}

{% block title %}Preview Menu - SFU Dining Hall{% endblock %}

{% block content %}
    <br>

    <div class="container">
        <h1>Preview Menu For {{ date.strftime("%A %b %-d, %Y") }} {{ meal_string }}</h1>

        <div class="card">
            <div class="card-header" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                 aria-expanded="true" aria-controls="collapseExample1">
                <span class="text-primary">{{ date.strftime("%A") }}</span> <span
                    class="text-muted d-inline float-end">{{ date.strftime("%b %-d") }}</span>
            </div>
            <div class="card-body collapse show" id="collapseExample1">
                <h5 class="card-title">{{ meal_string }}</h5>
                <h6 class="text-muted">{{ opening_time.time_open.strftime("%I:%M %p") }}
                    - {{ opening_time.time_close.strftime("%I:%M %p") }}</h6>

                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% for section, dishes in menu.items() %}
                        <div class="col-sm-12 col-lg-6">
                            {{ section_dishes_list(section, dishes) }}

                            <br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
